/* 반응형 */

/* ~767px 모바일 */
@media (max-width: 767px) {
    ul.nav {
        display: none;
    }

    h1.logo>a>img {
        width: 8vw;
    }

    .logo span {
        font-size: 2vw;
    }

    .pd-20-0 {
        padding: 0;
    }

    /* .profile  */
    .profile .text {
        margin: 1rem;
    }

    .profile .text span {
        font-size: 5vw;
    }

    .profile .text h2 {
        margin: 1rem 0 0 0;
        font-size: 10vw;
    }

    .profile_img {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile_img img {
        width: 56%;
        height: auto;
    }

    .mainBtns {
        position: relative;
        left: 26%;
    }

    .mainBtns .btn {
        padding: 3vw 6vw;
        font-size: 2.4vw;
    }

    /* marquee */

    div.marquee-area {
        margin: 80px 0 20px 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.intro-track {
        font-size: 9.6vw;
        gap: 30px;
    }

    /* about */
    .about {
        padding: 20px 0;
    }

    .about .about-box {
        flex-direction: column;
    }

    .about-emoji {
        margin-bottom: 10px;
        width: 100%;
    }

    .about-emoji img {
        width: 47%;
        display: flex;
        align-items: center;
    }

    .caption {
        margin: 20px 0 30px 2.5rem;
        line-height: 2rem;
    }

    .about-text {
        width: 100%;
    }

    div.caption h2 {
        font-size: 4vw;
        font-weight: 500;
    }

    div.about-item {
        font-size: 2vw;
        padding: 0 2.8rem;
        line-height: 1.2rem;
        row-gap: 1rem;
    }

    .keyword {
        margin-top: 5px;
        gap: 2px;
        display: inline-flex;
        flex-wrap: wrap;
        font-size: 12px;
    }

    .about-personal .keyword li {
        padding: 1vw 1vw;
        width: 8vw;
        height: 2vw;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        font-size: 2vw;
    }

    .spanML {
        margin-left: 0;
    }

    .about h3 {
        font-size: 2.6vw;
    }

    .about-education li {
        line-height: 1rem;
        margin-bottom: 4px;
    }

    .about-education li,
    .about-education div {
        display: flex;
        flex-wrap: wrap;
    }

    ul.program-icon img {
        width: 6vw;
    }



    /* keyword-marquee */

    .keyword-marquee {
        margin: 40px 0;
        height: auto;
        position: relative;
        bottom: 10%;
        margin-bottom: 15vw;
    }

    .top-banner,
    .bottom-banner {
        height: 45px;
    }

    .mb-20 {
        margin-bottom: 10px;
    }

    /* portfolio */

    .portfolio {
        padding: 40px 0;
    }

    .port-box {
        align-items: center;
        flex-direction: column;
        height: auto;
        margin: 40px 0 20px;
    }

    .port-frame {
        width: 100%;
        max-width: 100%;
        margin: 50px 0 30px 0;
        position: relative;
        overflow: hidden;
    }

    .port-frame img {
        position: relative;
        top: auto;
        left: auto;
    }

    .titleBox .tit {
        font-size: 5vw;
    }

    .titleBox .tit em {
        font-size: 5vw;
    }

    .titleBox span {
        font-size: 3vw;
    }

    .titleBox span::before {
        top: 90px;
    }

    .inpo {
        margin: 20px 0;
    }

    .inpo li p {
        font-size: 3vw;
    }

    .inpo li {
        font-size: 2.6vw;
    }


    .port-txt {
        width: 100%;
        box-sizing: border-box;
        position: relative;
        padding: 10px;
    }

    .hidden {
        width: 100%;
        top: 10%;
    }

    .hidden img {
        width: 99%;
    }

    .hidden.pj1 img:hover {
        transform: translate(0, -1460px);
        transition: all 3s ease;
    }

    .hidden.pj3 img:hover {
        transform: translate(0, -890px);
        transition: all 2s ease;
    }

    .port-Mock {
        width: 100%;
        left: -10%;
        height: 43rem;
    }

    .port-Mock::before {
        transform: scale(.72);
    }

    .crop {
        position: relative;
        left: 94px;
        top: -88px;
        transform: scale(.72);

    }

    .port-btn {
        margin-top: 5vw;
    }


    .port-btn .btn {
        padding: 3vw 8vw;
        font-size: 2.4vw;
    }


    .port-guid {
        width: 6rem;
        height: 6rem;
        margin-left: 0;
        left: 5%;
    }


    .port-guid span {
        font-size: 2.4vw;
        top: 40px;
    }



    /* art */

    .title {
        margin-bottom: 10vw;
        font-size: 9vw;
    }

    .art {
        padding: 40px 0;
    }

    .port-card {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
    }

    .card {
        width: 90%;
        height: 350px;
    }

    .cardBox img {
        height: auto;
    }

    .cardBox .txt {
        margin-top: 10px;
        height: auto;
    }

    .cardBox .txt h3 {
        font-size: 3vw;
        margin-bottom: 4px;
    }

    .cardBox .txt p {
        font-size: 2.6vw;
        line-height: 1.3rem;
    }

    .art-btn {
        left: 20%;
    }

    .art-btn .btn {
        padding: 3vw 8vw;
        font-size: 2.4vw;
    }

    /* skill */
    .skills {
        padding: 40px 0;
    }

    .skill-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    .skill-card {
        width: 25%;
        padding: 20px;
    }

    .skill-icon {
        gap: 10px;
        height: auto;
        margin-bottom: 10px;
    }

    .skill-icon img {
        max-width: 4vw;
    }

    .skill-icon span {
        font-size: 2.4vw;
        font-weight: 600;
    }

    .skill-bar span {
        font-size: 1.8vw;
    }

    .progress-bar {
        margin-bottom: 4px;
    }

    /* footer */

    footer {
        margin-top: 40px;
    }

    .contactBox {
        height: 40vw;
        margin: 1.3rem 0 0 0;
    }

    .foot-back {
        height: auto;
    }

    .foot_title {
        font-size: 9vw;
        margin: 0 0 2.4rem;
        padding: 0;
    }

    .contact-left .point {
        font-size: 3vw;
    }

    .contact-left span {
        font-size: 3vw;
    }



    .contact-right {
        align-items: flex-start;
    }

    .contact-right span {
        margin: 10px;
        font-size: 3vw;
    }

    .foot-btn .btn {
        padding: 3vw 6vw;
        font-size: 2.4vw;
        margin-right: 5px;
    }
}


/* 태블릿 */
@media (min-width: 768px) and (max-width: 1024px) {
    section.profile {
        height: 80vh;
    }

    .profile .text {
        margin: 1rem;
    }


    .profile .text span {
        font-size: 3rem;
    }

    .profile .text h2 {
        font-size: 5rem;
    }

    .profile_img img {
        width: 80%;
        height: auto;
    }


    .mainBtns {
        left: 55%;
        bottom: 30%;
    }

    .mainBtns .btn {
        padding: 25px 45px;
        font-size: 1rem;
    }






}

/* 데스크탑 */
@media (min-width: 1025px) {}